$colorBg:rgba(250,248,242,255);
$colorHeadings:rgba(0,1,1,255);
$colorHeaginsfooter:rgba(15,14,14,255);
$colorBtn:rgba(76,19,208,255);
$colorSmall:rgba(118,75,221,255);
$colorText:rgba(78,79,78,255);